@{
    ViewBag.Title = "Ricardo Lourenco (Senior Software Developer)";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    2550 Olinville Ave<br />
    Bronx, NY<br />
    <abbr title="Phone">P:</abbr>
    917.504.4307
</address>

<address>
    <strong>Software Engineer e-mail:</strong>   <a href="mailto:ricardomlourenco@gmail.com">ricardomlourenco@gmail.com</a><br />
    <strong>Profile:</strong> <a href="https://www.linkedin.com/in/ricardomlourenco/en">Linkedin</a>
</address>