@{
    ViewBag.Title = "MVC Sample";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    See MVC Sample: @Html.ActionLink("MVC Sample", "Search", "Security")
    <br/>
    Check the Documentation I create for this sample Project: @Html.ActionLink("Architecture", "Architecture", "Home")
</div>
