@{
    ViewBag.Title = "MVC Assessment";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    Please, see the assessment: @Html.ActionLink("MVC Sample", "Search", "Security")
    <br/>
    Please take a look at the Documentation I create for this assessment: @Html.ActionLink("Architecture", "Architecture", "Home")
</div>
